body{
    background-color: bisque;
}
h1{
    color:coral;
    text-align: center;
}
p{ font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: p60x;
}
h2{
    color:coral;
    text-align: center;
}
h3{
    color:coral;
    text-align: left;
}
